<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :seed %>
    <%= form.text_field :seed %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, Game.categories.keys %>
  </div>

  <fieldset>
      <legend>Hands:</legend>
      <%= form.fields_for :game_hands do |game_hand_form| %>
          <%= render "game_hands_fields", form: game_hand_form %>
      <% end %>
  </fieldset>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
