
<div class="p-4 p-md-5 text-black rounded bg-light">
  <h1>Games</h1>
  <p>All the games are refreshed weekly, so you can use the same Game ID and get a different game if you wait a week. You have 100 games to use each week.</p>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Game Type</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.seed %></td>
          <td><%= game.category %></td>
          <td><%= link_to 'Show', game %></td>
          <% if user_signed_in? %>
            <td><%= link_to 'Edit', edit_game_path(game) %></td>
            <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Generate New Game', new_game_path, class: "btn btn-outline-success" %>
</div>
