<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} - #{@game.seed}" %>
<% content_for :meta_description, "Remote Bridge - here are the hands for Bridge Game #{@game.seed}" %>


<div class = "js-tabs p-4 p-md-5 text-black rounded bg-light">
  <div class="btn-toolbar nav nav-tabs justify-content-center">
    <div class="btn-group mr-2" role="group" aria-label="Game group">
        <%= button_tag 'Game', type: 'button',
          class: 'btn btn-info m-1 js-tabs-button is-current', data: { tab: 0 } %>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Hands group">
        <%= button_tag 'North', type: 'button',
          class: 'btn btn-secondary m-1 js-tabs-button', data: { tab: 1 } %>
        <%= button_tag 'East', type: 'button',
          class: 'btn btn-secondary m-1 js-tabs-button', data: { tab: 2 } %>
        <%= button_tag 'South', type: 'button',
          class: 'btn btn-secondary m-1 js-tabs-button', data: { tab: 3 } %>
        <%= button_tag 'West', type: 'button',
          class: 'btn btn-secondary m-1 js-tabs-button', data: { tab: 4 } %>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Stats group">
        <%= button_tag 'Game Over', type: 'button',
          class: 'btn btn-info m-1 js-tabs-button', data: { confirm: 'Spoiler alert - is the game is over?', tab: 5 } %>
    </div>
  </div>

  <div class="d-flex justify-content-center mb-3 mt-3">
    <section class="tabs__tab js-tabs-tab is-active" data-tab="0">
        <h2>Game ID: <%= @game.seed %></h2>
        <p>Select your hand direction above to reveal your hand</p>
    </section>

    <section class="tabs__tab js-tabs-tab" data-tab="1">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            NORTH
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item border-0">
              <span class="badge badge-secondary badge-pill pr-2"><i class="bi bi-suit-club-fill text-dark" style="font-size: 2rem; color: cornflowerblue;"></i></span>
              <%= @north.clubs %>
            </li>
            <li class="list-group-item border-0">
              <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-diamond-fill text-danger" style="font-size: 2rem; color: cornflowerblue;"></i></span>
              <%= @north.diamonds %>
            </li>
            <li class="list-group-item border-0">
              <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-heart-fill text-danger" style="font-size: 2rem; color: cornflowerblue;"></i></span>
              <%= @north.hearts %>
            </li>
            <li class="list-group-item border-0">
              <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-spade-fill text-dark" style="font-size: 2rem; color: cornflowerblue;"></i></span>
              <%= @north.spades %>
            </li>
          </ul>
          <ul class="list-group">
            <li class="list-group-item border-0">
              points = <%= @north.points %>
            </li>
            <li class="list-group-item border-0">
              distribution = <%= @north.distribution %>
            </li>
          </ul>
        </div>

    </section>
    

    <section class="tabs__tab js-tabs-tab" data-tab="2">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            EAST
          </div>
          <ul class="list-group">
            <li class="list-group-item border-0">
              <span class="badge badge-secondary badge-pill pr-2"><i class="bi bi-suit-club-fill text-dark" style="font-size: 2rem; color: cornflowerblue;"></i></span>
              <%= @east.clubs %>
            </li>
            <li class="list-group-item border-0">
              <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-diamond-fill text-danger" style="font-size: 2rem; color: cornflowerblue;"></i></span>
              <%= @east.diamonds %>
            </li>
            <li class="list-group-item border-0">
              <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-heart-fill text-danger" style="font-size: 2rem; color: cornflowerblue;"></i></span>
              <%= @east.hearts %>
            </li>
            <li class="list-group-item border-0">
              <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-spade-fill text-dark" style="font-size: 2rem; color: cornflowerblue;"></i></span>
              <%= @east.spades %>
            </li>
          </ul>
          <ul class="list-group">
            <li class="list-group-item border-0">
              points = <%= @east.points %>
            </li>
            <li class="list-group-item border-0">
              distribution = <%= @east.distribution %>
            </li>
          </ul>
        </div>
    </section>

    <section class="tabs__tab js-tabs-tab" data-tab="3">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            SOUTH
          </div>
          <ul class="list-group">
            <li class="list-group-item border-0">
              <span class="badge badge-secondary badge-pill pr-2"><i class="bi bi-suit-club-fill text-dark" style="font-size: 2rem; color: cornflowerblue;"></i></span>
              <%= @south.clubs %>
            </li>
            <li class="list-group-item border-0">
              <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-diamond-fill text-danger" style="font-size: 2rem; color: cornflowerblue;"></i></span>
              <%= @south.diamonds %>
            </li>
            <li class="list-group-item border-0">
              <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-heart-fill text-danger" style="font-size: 2rem; color: cornflowerblue;"></i></span>
              <%= @south.hearts %>
            </li>
            <li class="list-group-item border-0">
              <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-spade-fill text-dark" style="font-size: 2rem; color: cornflowerblue;"></i></span>
              <%= @south.spades %>
            </li>
          </ul>
          <ul class="list-group">
            <li class="list-group-item border-0">
              points = <%= @south.points %>
            </li>
            <li class="list-group-item border-0">
              distribution = <%= @south.distribution %>
            </li>
          </ul>
        </div>
    </section>

    <section class="tabs__tab js-tabs-tab" data-tab="4">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            WEST
          </div>
          <ul class="list-group">
            <li class="list-group-item border-0">
              <span class="badge badge-secondary badge-pill pr-2"><i class="bi bi-suit-club-fill text-dark" style="font-size: 2rem; color: cornflowerblue;"></i></span>
              <%= @west.clubs %>
            </li>
            <li class="list-group-item border-0">
              <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-diamond-fill text-danger" style="font-size: 2rem; color: cornflowerblue;"></i></span>
              <%= @west.diamonds %>
            </li>
            <li class="list-group-item border-0">
              <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-heart-fill text-danger" style="font-size: 2rem; color: cornflowerblue;"></i></span>
              <%= @west.hearts %>
            </li>
            <li class="list-group-item border-0">
              <span class="badge badge-secondary badge-pill pr-2"><i class="bi bi-suit-spade-fill text-dark" style="font-size: 2rem; color: cornflowerblue;"></i></span>
              <%= @west.spades %>
            </li>
          </ul>
          <ul class="list-group">
            <li class="list-group-item border-0">
              points = <%= @west.points %>
            </li>
            <li class="list-group-item border-0">
              distribution = <%= @west.distribution %>
            </li>
          </ul>
        </div>
    </section>  

    <section class="tabs__tab js-tabs-tab" data-tab="5">
      <div class="container">
        <div class="row justify-content-md-center pb-2">
          <div class="col-md-auto">
            <div class="card" style="width: 13rem;">
              <div class="card-header">
                NORTH
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item border-0">
                  <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-club-fill text-dark" style="font-size: 1rem; color: cornflowerblue;"></i></span>
                  <%= @north.clubs %>
                </li>
                <li class="list-group-item border-0">
                  <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-diamond-fill text-danger" style="font-size: 1rem; color: cornflowerblue;"></i></span>
                  <%= @north.diamonds %>
                </li>
                <li class="list-group-item border-0">
                  <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-heart-fill text-danger" style="font-size: 1rem; color: cornflowerblue;"></i></span>
                  <%= @north.hearts %>
                </li>
                <li class="list-group-item border-0">
                  <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-spade-fill text-dark" style="font-size: 1rem; color: cornflowerblue;"></i></span>
                  <%= @north.spades %>
                </li>
              </ul>
              <ul class="list-group">
                <li class="list-group-item border-0">
                  points = <%= @north.points %>
                </li>
                <li class="list-group-item border-0">
                  distribution = <%= @north.distribution %>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="card" style="width: 13rem;">
              <div class="card-header">
                SOUTH
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item border-0">
                <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-club-fill text-dark" style="font-size: 1rem; color: cornflowerblue;"></i></span>
                  <%= @south.clubs %>
                </li>
                <li class="list-group-item border-0">
                  <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-diamond-fill text-danger" style="font-size: 1rem; color: cornflowerblue;"></i></span>
                  <%= @south.diamonds %>
                </li>
                <li class="list-group-item border-0">
                  <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-heart-fill text-danger" style="font-size: 1rem; color: cornflowerblue;"></i></span>
                  <%= @south.hearts %>
                </li>
                <li class="list-group-item border-0">
                  <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-spade-fill text-dark" style="font-size: 1rem; color: cornflowerblue;"></i></span>
                  <%= @south.spades %>
                </li>
              </ul>
              <ul class="list-group">
                <li class="list-group-item border-0">
                  points = <%= @south.points %>
                </li>
                <li class="list-group-item border-0">
                  distribution = <%= @south.distribution %>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center pb-2">
          <div class="col-md-auto">
            <div class="card" style="width: 13rem;">
              <div class="card-header">
                WEST
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item border-0">
                  <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-club-fill text-dark" style="font-size: 1rem; color: cornflowerblue;"></i></span>
                  <%= @west.clubs %>
                </li>
                <li class="list-group-item border-0">
                  <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-diamond-fill text-danger" style="font-size: 1rem; color: cornflowerblue;"></i></span>
                  <%= @west.diamonds %>
                </li>
                <li class="list-group-item border-0">
                  <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-heart-fill text-danger" style="font-size: 1rem; color: cornflowerblue;"></i></span>
                  <%= @west.hearts %>
                </li>
                <li class="list-group-item border-0">
                  <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-spade-fill text-dark" style="font-size: 1rem; color: cornflowerblue;"></i></span>
                  <%= @west.spades %>
                </li>
              </ul>
              <ul class="list-group">
                <li class="list-group-item border-0">
                  points = <%= @west.points %>
                </li>
                <li class="list-group-item border-0">
                  distribution = <%= @west.distribution %>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="card" style="width: 13rem;">
              <div class="card-header">
                EAST
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item border-0">
                  <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-club-fill text-dark" style="font-size: 1rem; color: cornflowerblue;"></i></span>
                  <%= @east.clubs %>
                </li>
                <li class="list-group-item border-0">
                  <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-diamond-fill text-danger" style="font-size: 1rem; color: cornflowerblue;"></i></span>
                  <%= @east.diamonds %>
                </li>
                <li class="list-group-item border-0">
                  <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-heart-fill text-danger" style="font-size: 1rem; color: cornflowerblue;"></i></span>
                  <%= @east.hearts %>
                </li>
                <li class="list-group-item border-0">
                  <span class="badge badge-secondary badge-pill"><i class="bi bi-suit-spade-fill text-dark" style="font-size: 1rem; color: cornflowerblue;"></i></span>
                  <%= @east.spades %>
                </li>
              </ul>
              <ul class="list-group">
                <li class="list-group-item border-0">
                  points = <%= @east.points %>
                </li>
                <li class="list-group-item border-0">
                  distribution = <%= @east.distribution %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>


  </div>
  <div>
    <p>If you need to share you device with your bridge partner please select the Game tab before handing over (to protect the sanctity of your cards)</p>
  </div>
</div>


<%= link_to 'Back', games_path, class: "breadcrumb" %>
