<p id="notice"><%= notice %></p>

<h1>Game Hands</h1>

<table>
  <thead>
    <tr>
      <th>Direction</th>
      <th>Cards</th>
      <th>game</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_hands.each do |game_hand| %>
      <tr>
        <td><%= game_hand.direction %></td>
        <td><%= game_hand.cards %></td>
        <td><%= game_hand.game.name %></td>
        <td><%= link_to 'Show Game', [@game] %></td>
        <td><%= link_to 'Edit Game Hand', edit_game_game_hand_path(@game, game_hand) %></td>
        <td><%= link_to 'Destroy Game Hand', [@game, game_hand], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New game hand', new_game_game_hand_path(@game) %>